:root {
  -webkit-font-smoothing: antialiased;
}

body {
  background-image: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-color: #000;
  background-size: auto;
  font-family: 'Maven Pro', sans-serif;
  color: white;
}

a {
  cursor: pointer;
}

main {
  display: block;
  border: 1.2em solid #fff;
  height: auto !important;
}

header {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

header .logo {
  font-size: 36px;
}

header a,
header a:active,
header a:hover {
  text-decoration: none;
  color: white;
}

social p {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

social a {
  text-decoration: underline;
  color: #383E50;
}

social a:hover {
  color: #BA876E;
}

article {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  word-wrap: break-word;
  margin: 50px 200px 50px 50px;
}

article a,
article a:hover {
  text-decoration: none;
  color: #BA876E;
}

article a:hover {
  color: #383E50;
}

footer {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  color: #383E50;
}

footer a,
footer a:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: #BA876E;
}

footer a:hover {
  color: #383E50;
}
