@charset "utf-8";
/* CSS Document */

html,body
{font-family:'Arial';
width:100%;
height:100%;
color:#333333}

#logo
{position:absolute;
top:50%;
left:50%;
width: 256px;
height: 256px;
background-image: url(../images/logo.svg);
background-size: 256px 256px;
background-repeat: no-repeat;
margin-top:-120px;
margin-left:-126px;
z-index:1;}

#logo-anchor
{position:absolute;
top:50%;
left:50%;}

.navigation
{position:fixed;
z-index:1;
top:20px;}

.navigation li
{color:#333333;
display:block;
padding:0 10px;
line-height:30px;
margin-bottom:2px;
font-weight:bold;
text-align:left;
width:53px;
-webkit-transition: all .1s ease-in-out;}

.navigation li:hover, .active
{font-size:25px;
cursor:pointer;
width:100px!important;}

.slidepanel
{background-attachment: fixed;
width:100%;
height:100%;
position: relative;}

.slideno
{position:absolute;
bottom:0px;
left:0px;
font-size:100px;
font-weight:bold;
color:rgba(255,255,255,0.3);}

.wrapper
{width:960px;
height:200px;
margin:0 auto;
position:relative;}

.next, .prev
{display:block;
width:50px;
height:45px;
position:absolute;
bottom:0px;
left: 50%;
margin-left: -24px;
background-color:#333333;
color: white;
}

.prev
{height:80px;
-webkit-border-radius: 50px 50px 0 0;}

.next
{-webkit-border-radius: 50px 50px 0 0;}

.next i, .prev i
{margin-top: 12px;
margin-left: 12px;}

.next:hover, .prev:hover
{color: #333333;
cursor: pointer;
text-decoration: none;}

.contacts
{margin-left: 0px;
list-style-type: none;}

.contacts li
{float: left;}

.contacts a
{padding-right: 32px;
color: #333333;}

.contacts a:hover
{text-decoration: none;}

.zipper
{position: absolute;
width: 16px;
height: 100%;
left: 50%;
margin-left: -11px;
background-image: url(../images/zipper.png);
background-repeat: repeat-y;}

.featurette
{display: block;
padding-top: 45%;
overflow: hidden;
opacity: 0;}

.featurette-heading
{text-align: center;
font-size: 100px;
font-weight: bold;
line-height: 1;
letter-spacing: -1px;}

.info
{position:relative;
top: 30%;
width:100%;
height:100%;
margin-bottom: -120px;
padding-bottom: -120px;}

/******************************
 SLIDE 1 
*******************************/
#slide1
{background-color:#dddddd;
/*background-image: url(../images/cover.jpg);*/
background-size: cover}

/******************************
 SLIDE 2 
*******************************/
#slide2
{background-color:#005c99;
box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);}

#slide2 img:first-child
{position:absolute;
top:700px;
left:-150px;}

#slide2 img:nth-child(2)
{position:absolute;
top:300px;
left:100px;}

#slide2 img:nth-child(3)
{position:absolute;
top:600px;
left:300px;}

#slide2 img:nth-child(4)
{position:absolute;
top:400px;
left:300px;}

#slide2 img:nth-child(5)
{position:absolute;
top:600px;
right:300px;}

#slide2 img:nth-child(6)
{position:absolute;
top:600px;
right:300px;}

#slide2 img:nth-child(7)
{position:absolute;
top:400px;
right:100px;}

#slide2 img:nth-child(8)
{position:absolute;
top:100px;
right:300px;}

/******************************
 SLIDE 3 
*******************************/
#slide3
{background-color:#dddddd;}

/******************************
 SLIDE 4 
*******************************/
#slide4
{box-shadow:inset 0px 5px 5px rgba(0,0,0,0.3);
background-size: cover;
overflow: hidden}


/* Large desktop */
/*@media (min-width: 1200px) { }*/
 
/* Portrait tablet to landscape and desktop */
/*@media (min-width: 768px) and (max-width: 979px) { }*/
 
/* Landscape phone to portrait tablet */
/*@media (max-width: 767px) { .imagem { display: none } }*/

/* iPhone 5 or iPod Touch 5th generation */
/*@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { }*/

/* Landscape phones and down */
/*@media (max-width: 480px) { }*/
