body {
  font-family:sans-serif;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.info
{display:block;
margin: 0 auto;
width: 300px;
height: 150px;
background-image: url(../images/cover.jpg);
background-size: cover;
}