/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { .imagem { display: none } }

/* iPhone 5 or iPod Touch 5th generation */
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { }

/* Landscape phones and down */
@media (max-width: 480px) { }

body
{font-family: sans-serif;}

html, body, .swipe, .swipe-mobile, .swipe-wrap, .swipe-wrap > div, .info
{height: 100%;
overflow: hidden;}

.swipe, .swipe-mobile
{visibility: hidden;
position: absolute;
top: 50px;
left: 0;
width: 100%;}

.swipe-mobile
{margin-top: 30px;
margin-bottom: 30px;
top: 0;}

.swipe-wrap
{position: relative;}

.swipe-wrap > div
{float: left;
position: relative;}

.contacts
{display: inherit;}

.info
{background-image: url(../img/cover.jpg);
background-size: cover;}

.space
{margin: 10px 10px 10px 10px}

header, .header-mobile
{position: absolute;
text-align: center;
line-height: 50px;
height: 50px;
width: 100%;
left: 0;
top: 0;
font-weight: 700;
font-size: 12px;
letter-spacing: 1px;
text-transform: uppercase;
color: #414141;
background-color: #191919;}

.header-mobile
{line-height: 30px;
height: 30px;
overflow: hidden;}

footer
{position: absolute;
text-align: center;
padding-top: 10px;
height: 30px;
left: 0;
bottom: 0;
width: 100%;
color: #2b2e30;
background-color: #191919;
overflow: hidden;}

#position ul
{list-style: none;
color: #3f3f3f;}

#position li.on
{box-shadow: inset 0 1px 3px -1px #28b4ea,0 1px 2px rgba(0,0,0,.5);
background-color: #1293dc;
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1293dc),color-stop(100%,#0f6297));
background-image: -webkit-linear-gradient(top,#1293dc,#0f6297);
background-image: -moz-linear-gradient(top,#1293dc,#0f6297);
background-image: -ms-linear-gradient(top,#1293dc,#0f6297);
background-image: -o-linear-gradient(top,#1293dc,#0f6297);
background-image: linear-gradient(top,#1293dc,#0f6297);}

#position li
{display: inline-block;
width: 10px;
height: 10px;
border-radius: 10px;
background: #141414;
box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;
margin: 0 2px;
cursor: pointer;}

.button, .button:active, .button:visited
{color: #4c565a!important;
border: 0;
box-shadow: 0 1px 1px rgba(0,0,0,.65),inset 0 1px 2px -1px rgba(255,255,255,.2);
background-color: #252829;
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#252829),color-stop(100%,#1e2021));
background-image: -webkit-linear-gradient(top,#252829,#1e2021);
background-image: -moz-linear-gradient(top,#252829,#1e2021);
background-image: -ms-linear-gradient(top,#252829,#1e2021);
background-image: -o-linear-gradient(top,#252829,#1e2021);
background-image: linear-gradient(top,#252829,#1e2021);
text-shadow: 0 -1px 0 rgba(0,0,0,.35);
margin-bottom: 25px;}

.logo
{position: absolute;
display: none;
top: 50%;
left: 50%;
width: 256px;
height: 256px;
background-image: url(../img/logo.svg);
background-size: 256px 256px;
background-repeat: no-repeat;
margin-top: -120px;
margin-left: -126px;
z-index: 1;}

a.headlogo
{font-size: 16px;
padding-left: 10px;
padding-right: 10px;}

a.headlogo:link, a.headlogo:visited, a.headlogo:hover, a.headlogo:active
{text-decoration: none;
color: #414141;}

a.headlogo:hover
{color: #626262;}

.next:hover, .prev:hover
{color: #333333;
cursor: pointer;
text-decoration: none;}